@charset "utf-8";

@import "missing-stylesheets-chukn1.css";
@import url("missing-stylesheets-chunk2.css");

h1 {
  color: darkred;
  font-size: 4em;
  text-align: center;
}

p {
  color: darkgreen;
  font-weight: 400;
}

@import url("missing-stylesheets-chunk3.css");
